#save_plot {
  background-color: #286090;
  color: #EEEEEE;
}

#save_csv {
  background-color: #286090;
  color: #EEEEEE;
}

.default-sortable.rank-list-container {
    border: 0px!important; 
    padding: 2px!important;
    margin: 2px!important;
}

#img-id {
  font-size: 2rem;
  color: #EEEEEE;
  margin-right: 5px;

}

.navbar-default {
    background-color: #158cba!important;
    border-color: #e7e7e7!important;
    color: #EEEEEE!important;
}